@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Kanit:wght@500&family=Open+Sans:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap');


/* Global Start  */
:root {
    --transition: 0.5s;
    --green-color: #088178;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a.normal {
    display: block;
    color: black;
    background-color: white;
    width: fit-content;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 5px;
    transition: var(--transition);
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    color: #465b52;
    margin: 15px 0 20px;
}

.p1 {
    padding: 40px 80px;
}

@media screen and (max-width:992px) {
    .p1 {
        padding: 40px 30px;
    }
}

.m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


/* Global End  */
/* Header Start  */
header {
    background-color: #E3E6F3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

@media screen and (max-width:992px) {
    header {
        padding: 20px 30px;
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

header nav img {
    width: 150px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    transition: var(--transition);
}

@media screen and (max-width:992px) {
    header nav ul {
        display: flex;
        position: fixed;
        flex-direction:column;
        justify-content: start;
        width: 200px;
        height: 100vh;
        top: 80px;
        right: -300px;
        gap: 30px;
        padding: 10px;
        background-color: #E3E6F3;
        transition: var(--transition);
        box-shadow: 0 20px 10px #00000080;
    }
    header nav ul li {
        padding: 0px 0px;
    }
    header nav ul.show {
        right: 0;
        transition: var(--transition);
    }
    }

header nav ul li {
    padding: 10px 20px;
}

header nav ul li a {
    color: #1a1a1a;
    display: block;
    font-weight: 600;
    transition: var(--transition);
    position: relative;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: var(--green-color);
}

header nav ul li a.active::after,
header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green-color);
    height: 2px;
    transition: var(--transition);
}

header nav ul li a.active::after {
    width: 70%;
}

header nav ul li a::after {
    width: 0%;
}

header nav ul li a:hover::after {
    width: 70%;
}

/* -------------------Menu Bars---------------------------- */
.bars {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    transition: var(--transition);
}
@media screen and (min-width:992px) {
    .bars {
        display: none;
    }
}

.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    transition: var(--transition);
}

.bars.active .bar:nth-child(1) {
    transition: var(--transition);
    transform: translateY(10px) rotate(45deg);
}

.bars.active .bar:nth-child(2) {
    transition: var(--transition);
    opacity: 0;
}

.bars.active .bar:nth-child(3) {
    transition: var(--transition);
    transform: translateY(-7px) rotate(-45deg);
}

/* ----------------------------------------------- */
/* Header End  */
/* Landing Section Start  */
.landing {
    height: 90vh;
    background-image: url(../Image/hero4.png);
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.landing .landing-desc h2,
.landing .landing-desc h4,
.landing .landing-desc h1 {
    font-weight: 700;
}

.landing .landing-desc h4 {
    padding-bottom: 15px;
}

.landing .landing-desc h1 {
    color: var(--green-color);
}
@media screen and (max-width:992px) {
    .landing {
        height: 70vh;
        padding: 0 80px 0 30px;
        background-position: top 30% right 30%;
    }
}
@media (max-width:477px) {
    .landing {
        padding: 0 20px;
        background-position: 0%;
    }

    .landing .landing-desc h4 {
        font-size: 20px;
    }
    .landing .landing-desc h2 {
        font-size: 28px;
    }
    .landing .landing-desc h1 {
        font-size: 34px;
        
    }
}

.landing .landing-desc .shop {
    background-image: url(../Image/button.png);
    padding: 12px 80px 9px 65px;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.landing .landing-desc .shop button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: var(--green-color);
    padding: 2px;
    transition: 0.5s;
}

.landing .landing-desc .shop:hover {
    transform: scale(1.05);
}
/* Landing Section End  */
/* Feature Start  */

.features .features-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 20px));
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.features .features-items .f-box {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
    box-shadow: 5px 20px 34px rgba(0, 0, 0, 10%);
    border-radius: 5px;
    border: 2px solid #cce7d0;
    transition: 0.3s;
}
.features .features-items .f-box:hover {
    box-shadow: 5px 10px 54px rgba(70, 62, 221, 10%);
    transform: translateY(-5px);
}

.features .features-items .f-box img {
    width: 100%;
    margin-bottom: 10px;
}

.features .features-items .f-box h6 {
    padding: 9px 8px;
    background-color: #fddde4;
    color: var(--green-color);
    border-radius: 5px;
    line-height: 1;
    letter-spacing: .8px;
}

.features .features-items .f-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

.features .features-items .f-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

.features .features-items .f-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

.features .features-items .f-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

.features .features-items .f-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* Feature End  */
/* Fisrt Products Start  */
.products .h-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products .h-products h2 {
    font-weight: 700;
}
@media (max-width:477px) {
    .products .h-products h2 {
        font-size: 33px;
    }
}

.products .h-products p {
    font-weight: 500;
    margin: 0 0 20px;
}

.products .b-products .item-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.products .b-products .item-products .p-box {
    border: 2px solid #cce7d0;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: var(--transition);
}

.products .b-products .item-products .p-box:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);

}

.products .b-products .item-products .p-box img {
    width: 100%;
    border-radius: 20px;

}

.products .b-products .item-products .p-box span {
    display: block;
    margin: 10px 0 5px;
    color: #606063;
}

.products .b-products .item-products .p-box h5 {
    font-weight: 700;
    font-size: 18px;
    color: #1a1a1a;
}

.products .b-products .item-products .p-box .rate i {
    color: rgb(243, 181, 25);
}

.products .b-products .item-products .p-box .buying {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.products .b-products .item-products .p-box .buying h4 {
    color: var(--green-color);
    margin-top: 0;
    font-weight: 700;
    font-size: 18px;
}

.products .b-products .item-products .p-box .buying i {
    color: var(--green-color);
    background-color: #e8f6ea;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cce7d0;
}

/* Fisrt Products End  */
/* Repair Start  */
.repair {
    text-align: center;
    background-image: url(../Image/banner/b2.jpg);
    background-position: center;
    background-size: cover;

}

.repair h4 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;

}

.repair h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;

}
@media (max-width:477px) {
    .repair h2 {
        font-size: 24px;
    }
}
.repair h2 span {
    color: #ef3636;

}

.repair a {
    margin: auto;
    margin-bottom: 20px;
}

.repair a:hover {
    color: white;
    background-color: var(--green-color);
}

/* Repair End  */
/* Sales Start  */
.crazy-deals {
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.crazy-deals .first-deal {
    background-image: url(../Image/banner/b17.jpg);
}

.crazy-deals .second-deal {
    background-image: url(../Image/banner/b10.jpg);

}

.crazy-deals .deal {
    background-position: right center;
    background-size: cover;
    padding: 80px 30px;
    height: 380px;
    border-radius: 5px;
}
@media screen and (max-width:992px) {
    .crazy-deals  {
        grid-template-columns: 1fr;
    }
}

.crazy-deals .deal h4 {
    font-weight: 500;
    font-size: 22px;
    color: white;
}

.crazy-deals .deal h2 {
    color: white;
    font-weight: 700;


}

.crazy-deals .deal h5 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.crazy-deals .deal a {
    background-color: wheat;
    display: block;
    width: fit-content;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: var(--transition);
    border-width: 1px;
    border-style: solid;
}

.crazy-deals .deal:nth-child(1) a {
    background-color: var(--green-color);
    border-color: transparent;
}

.crazy-deals .deal:nth-child(2) a {
    background-color: transparent;
    border-color: white;
}

.crazy-deals .deal:nth-child(1):hover a {
    border-color: white;
    background-color: transparent;
}

.crazy-deals .deal:nth-child(2):hover a {
    background-color: var(--green-color);
    border-color: transparent;
}

.sales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


.sales .sale::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    border-radius: 5px;
}

.sales .sale1 {
    background-image: url(../Image/banner/b7.jpg);
}

.sales .sale2 {
    background-image: url(../Image/banner/b4.jpg);
}

.sales .sale3 {
    background-image: url(../Image/banner/b18.jpg);
}
@media  (min-width:786px) and (max-width:992px) {
    
    .sales .sale1 {
        grid-column: 1/6;
    }
    
    .sales .sale2 {
        grid-column: 6/12;

    }
    
    .sales .sale3 {
        grid-column-start: 2;
        grid-column-end: 10;
    }
}
@media (max-width:786px) {
    .sales  {
        grid-template-columns: 1fr;
    }
}

.sales .sale {
    background-position: center;
    background-size: 100% 100%;
    padding: 90px 20px;
    position: relative;
    transition: var(--transition);
    border-radius: 5px;

}

.sales .sale:hover {
    background-size: 110% 110%;
}

.sales .sale h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    color: white;
    position: relative;
}

.sales .sale h6 {
    color: #ef3636;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}

/* Sales End  */
/* Newsletters Start  */
.newsletters {
    background-image: url(../Image/banner/b14.png);
    background-color: #041e42;
    background-position: 20% 30%;
    background-repeat: no-repeat;
}

.newsletters .news-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.signin-text {
    flex: 1;
}

.newsletters .news-info .signin-text h3 {
    color: white;
    font-weight: 600;
}

.newsletters .news-info .signin-text p {
    color: #818ea0;
}

.newsletters .news-info .signin-text p span {
    color: #ffbd27;
}

.newsletters .news-info .form {
    flex: 1;
    display: flex;
    align-items: center;
}

.newsletters .news-info .form input {
    height: 3.126rem;
    width: 100%;
    padding: 15px 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid transparent;
    outline: none;
}

.newsletters .news-info .form button {
    display: block;
    color: white;
    background-color: var(--green-color);
    width: fit-content;
    font-weight: 700;
    padding: 12.5px 30px;
    transition: var(--transition);
    border: 1px solid transparent;
    white-space: nowrap;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
@media (max-width:992px) {
    .newsletters .news-info {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    
    .newsletters .news-info .form{
        width: 100%;
    }
    .newsletters .news-info .form input{
        width: 70%;
    }
}

/* Newsletters End  */
/* Footer Start  */
.footer-section {
    margin-top: 50px;
}

.footer-section .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;
}
@media (max-width:1200px) {
    .footer-section .footer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px) {
    .footer-section .footer {
        grid-template-columns:  1fr;
    }
}

.footer-section .footer a {
    display: block;
    width: fit-content;
    margin: 0 0 10px 20px;
    color: #222;
    position: relative;
    transition: var(--transition);
}

.footer-section .footer a::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -20px;
}

.footer-section .footer a:hover {
    transform: translateX(10px);
    color: var(--green-color);
}

.footer-section .footer h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section .footer .info img {
    margin-bottom: 20px;
}

.footer-section .footer .info p {
    font-weight: 600;
    color: #555;
}

.footer-section .footer .info p span {
    color: #777;
    font-weight: 500;

}

.footer-section .footer .info i {
    font-size: 18px;
    font-weight: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: var(--transition);
}

.footer-section .footer .info i:hover {
    transform: scale(1.2);
    color: var(--green-color);
}
.footer-section .footer .install-img {
    display: flex;
    gap: 5px;
}
@media (max-width:768px) {
    .footer-section .footer .install-img {
        justify-content: start;
        flex-wrap: wrap;
    }
}
@media (max-width:477px) {
    .footer-section .footer .install-img {
        display: flex;
        justify-content: start;
    }
}
.footer-section .footer .install img {
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--green-color);
}

.footer-section .copy-right {
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    color: black;
}

/* Footer End  */
/*------------------- Shoping Page Start -----------------*/
/* Banner Start  */
.shop-banner {
    background-image: url(../Image/banner/b1.jpg);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.shop-banner h2 {
    color: white;
    font-weight: 600;
}
.shop-banner p {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}
@media  (max-width:477px) {
    .shop-banner h2 {
        font-size: 30px;
    }
    .shop-banner p {
        margin-top: 0px;
    }
}
/* Banner End  */
/* Pages-link Start  */
.page-products {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
.page-products a {
    background-color: var(--green-color);
    padding: 12px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: var(--transition);
}
.page-products a:hover {
    transform: scale(1.1);
}
/*------------------- Shoping Page End -----------------*/
/*------------------- Single Product Page Start -----------------*/
.proudct-detils {
    display: flex;
    justify-content: space-between;
}

.proudct-detils .single-product-img {
    width: 40%;
}
.proudct-detils .single-product-details {
    width: 55%;
    padding-top: 30px;
}
@media (max-width:768px) {
    .proudct-detils {
        flex-direction: column;
    }
    .proudct-detils .single-product-img {
        width: 100%;
    }
    .proudct-detils .single-product-details {
        width: 100%;
    }
}
.small-product-img {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.small-product-img .small-product-col {
    flex-basis: 24%;
    cursor: pointer;
}
.proudct-detils .single-product-details h4 {
    padding: 20px 0 15px 0 ;
    font-weight: bold;
    font-size: 25px;
}
.proudct-detils .single-product-details h3 {
    font-size: 25px;
    margin-bottom: 12px;
}
.proudct-detils .single-product-details select{
    padding: 5px 10px;
    display: block;
    margin-bottom: 10px;
}
.proudct-detils .single-product-details input {
    width: 50px;
    height: 43px;
    padding-left: 10px;
    font-size: 16px;
    margin-right:10px ;
}
.proudct-detils .single-product-details input:focus {
    outline: none;
}
.proudct-detils .single-product-details button{
    border: none;
    padding: 10px 25px;
    background-color: var(--green-color);
    color: white;
    border-radius: 5px;
    transition: var(--transition);
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
}
.proudct-detils .single-product-details button:hover {
    background-color: white;
    border-color: var(--green-color);
    color: var(--green-color);
}
.proudct-detils .single-product-details h4:nth-of-type(2) {
    margin: 30px 0 10px;
}
.proudct-detils .single-product-details span {
    line-height: 30px;
    letter-spacing: 0.8px;
}

/*------------------- Single Product Page End -----------------*/

/* -------Blog page Start ----------- */
/* readmore banar section  start  */
.blog-banner {
    background-image: url(../Image/banner/b19.jpg);
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.blog-banner h2  , .blog-banner p{
    color: white;
}
.blog-banner h2 {
    font-weight: 600;
}
.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.blog:not(:last-child){
    margin: 20px 0 80px 0 ;

}

.blog .blog-img {
    width: 40%;
}
.blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.blog .blog-desc {
    width: 57%;
}
@media (max-width:768px) {
    .blog{
        flex-direction: column;
    }
    .blog .blog-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .blog img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .blog .blog-desc {
        width: 100%;
        margin-bottom: 50px;
    }
}
.blog .blog-desc h4 {
    font-weight: bold;
}
.blog .blog-desc p {
    width: 90%;
    letter-spacing: 0.8px;
}
.blog .blog-desc a {
    display: block;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.blog .blog-desc a i {
    align-items: center;
    display: inline-block;
    animation: moveleft  infinite 1s;

} 
.blog .blog-desc a:hover {
    color: var(--green-color);

}
@keyframes moveleft {
    from {transform: translateX(0px);}
    to {transform: translateX(10px);}
}

.blog h1 {
    position: absolute;
    top: -50px ; 
    left: 10px;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}
/* -------Blog page End ----------- */
/* About Page Start  */
.about-banner {
    background-image: url(../Image/about/banner.png);
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.about-banner h2  , .about-banner p{
    color: white;
}
.about-banner h2 {
    font-weight: 600;
}
.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}
@media  (max-width:768px) {
    .about-section {
        grid-template-columns: 1fr;
    }
}
.about-section .about-img img {
    width: 100%;
}

.about-section .about-desc h2 {
    font-weight: bold;
}
.about-section .about-desc p {
}
.about-section .about-desc abbr {
    display: block;
    margin-bottom: 15px;
}
.about-section .about-desc marquee {
    border-radius: 5px;
}

.about-vid {
    text-align: center;
    width: 100%;
    margin: auto;
}
.about-vid a {
    transition: var(--transition);
}
.about-vid video {
    width: 70%;
    height:100%;
    margin-top: 30px;
    border-radius: 20px;
}
@media (max-width:768px) {
    .about-vid video {
        width: 100%;
    }
}

/* About Page Start  */
/* Contact Page Start  */
.contact-body {
    display: flex;
    justify-content: space-between;
}
.contact-body .details {
    width: 40%;
}
.contact-body .details span {
    font-size: 14px;
    margin-bottom: 10px;
}
.contact-body .details h2 {
    font-size: 26px;
    line-height: 35px;
    font-weight: bold;
    padding: 20px 0;
}
.contact-body .details h3 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}
.contact-body .details p {
    position: relative;
    cursor: pointer;
    width: fit-content;
    transition: var(--transition);
}
.contact-body .details p:hover {
    color: var(--green-color);
    transform: translateX(5px);
}
.contact-body .details i {
    padding-right: 10px;
}
.contact-body .map {
    width: 50%;
    height: 400px;
}
.contact-body .map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width:992px) {
    .contact-body {
        flex-direction: column;
        gap: 30px;
    }
    .contact-body .details {
        width: 100%;
    }
    .contact-body .map {
        width: 100%;
    }
}
.contact-form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    margin: 0 80px;
}
.contact-form .left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.contact-form .left-side span {
    font-size: 14px;
}
.contact-form .left-side h2 {
    font-size: 28px;
    font-weight: bold;
}

.contact-form .left-side input , .contact-form .left-side textarea {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}
.contact-form .left-side input:focus ,.contact-form .left-side textarea:focus {
    outline: none;
}
.contact-form .left-side textarea {
    height: 150px;
}
.contact-form .left-side button {
    width: fit-content;
    padding: 10px 30px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--green-color);
    color: white;
    transition: var(--transition);
}
.contact-form .left-side button:hover {
    transform: scale(1.05);
}
.contact-form .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contact-form .right-side .box {
    display: flex;
    gap: 20px;
}
.contact-form .right-side .box .desc-box span {
    font-size: 18px;
    font-weight: bold;
}
.contact-form .right-side .box .desc-box p {
    margin: 5px 0;
}
@media screen and (max-width:1080px) {
    .contact-form {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .contact-form .left-side {
        width: 100%;
    }
    .contact-form .right-side {
        width: 100%;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/* Contact Page End  */




